        /* Modal styles */
        /* Grid and Modal styles */
        .grid-my-mind {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
        }

        .grid-item-my-mind img {
            width: 100%; /* Ensures the image scales with the container */
            height: auto; /* Maintains the aspect ratio */
            cursor: pointer;
            display: block; /* Ensures the image behaves as a block element */
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 2;
            padding-top: 60px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* Media queries for responsive design */
        @media (max-width: 768px) {
            .modal-content {
                width: 90%;
            }

            .close {
                font-size: 30px;
                right: 25px;
                top: 10px;
            }

            .grid-my-mind {
                grid-template-columns: repeat(2, 1fr) !important; /* 2 cards per row */
            }
        }

        @media (max-width: 480px) {
            .modal-content {
                width: 95%;
            }

            .close {
                font-size: 25px;
                right: 20px;
                top: 5px;
            }
        }

        .container-my-mind {
            position: relative;
            height: 200px;
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;
            z-index: 1;
        }

        .image {
            position: absolute;
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }

        .image:nth-child(1) {
            transform: rotate(-10deg);
            z-index: 1;
            background: linear-gradient(45deg, #111 30%, #444 70%); 
        }

        .image:nth-child(2) {
            transform: rotate(10deg);
            z-index: 2;
            background: linear-gradient(45deg, #333 30%, #666 70%);
        }

        .image:nth-child(3) {
            z-index: 3;
            background: linear-gradient(45deg, #222 30%, #555 70%);
        }

        .button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
            z-index: 4;
        }